<mat-expansion-panel [formGroup]="customClasses">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Custom CSS Classes
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field appearance="fill">
    <mat-label>Foreground Circle</mat-label>
    <input matInput placeholder="" formControlName="foregroundCircle">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Background Circle</mat-label>
    <input matInput placeholder="" formControlName="backgroundCircle">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Percent</mat-label>
    <input matInput placeholder="" formControlName="percent">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <input matInput placeholder="" formControlName="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>SVG Container</mat-label>
    <input matInput placeholder="" formControlName="svgContainer">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Point</mat-label>
    <input matInput placeholder="" formControlName="point">
  </mat-form-field>
</mat-expansion-panel>
