<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <button mat-icon-button (click)="onToggleSidenav()" class="burger-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="" mat-button>Angular circliful - demo</a>
  </div>

  <nav>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="getting-started">Getting Started</button>
    <a href="https://github.com/pguso/angular-circliful" target="_blank" mat-flat-button color="accent">
      View on Github
    </a>
  </nav>
</mat-toolbar>
